.those {
	text-align: center;
	margin-bottom: 83px;
}

.those__title {
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
	letter-spacing: 0.3px;
	color: #454545;
	padding-top: 61px;
	margin-bottom: 41px;
}

.those__img{
}


